.underNav{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/244/150/511/simple-background-texture-wallpaper-preview.jpg");
    padding: 40px;
    text-align: center;
    color: azure;
}
.title{
    font-size: 30px;
}
.container-fluid {
    display: inline-block;
    text-align: right;
    float: right;
    padding-right: 3%;
}
.adventureImg {
    padding: 10px;
    display: inline-block;
}